<%- include("partials/header.ejs") %>
    <div class="row">
        <%- include("partials/navbar.ejs") %>
            <div class="col-md-8 left">
                <p class="heading-pg">Targets</p>

                <div class="table-responsive">
                    <table class="table table-hover css-serial table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Category</th>
                                <th scope="col">Author</th>
                                <th scope="col">Title</th>
                                <th scope="col">Journal Name</th>
                                <th scope="col">Publication Title</th>
                                <th scope="col">Volume Number</th>
                                <th scope="col">Issue Number</th>
                                <th scope="col">Page Number</th>
                                <th scope="col">Issn Number</th>
                                <th scope="col">Indexing Number</th>
                            </tr>
                        </thead>
                        <% rPapers.forEach(function(i){ %>
                            <tbody>
                                <tr>
                                    <td></td>

                                    <td>
                                        <%= i.Category %>
                                    </td>
                                    <td>
                                        <%= i.author %>
                                    </td>
                                    <td>
                                        <%= i.title %>
                                    </td>
                                    <td>
                                        <%= i.journal_name %>
                                    </td>
                                    <td>
                                        <%= i.publication_title %>
                                    </td>
                                    <td>
                                        <%= i.volume_number %>
                                    </td>
                                    <td>
                                        <%= i.issue_number %>
                                    </td>
                                    <td>
                                        <%= i.page_number %>
                                    </td>
                                    <td>
                                        <%= i.issn_number %>
                                    </td>
                                    <td>
                                        <%= i.pindexing %>
                                    </td>
                                </tr>
                            </tbody>
                            <% }); %>
                    </table>
                </div>
            </div>

    </div>
    <%- include("partials/footer.ejs") %>